{% extends 'admin/base.html.twig' %}

{% block body %}
   <div class="admin-content">
      <div class="bg-admin-content">
         <h3>Information de <b>{{ user.lastname }} {{ user.firstname }}</b></h3>
         <hr>
         <p><b>Id</b>: {{ user.id }}</p>
         <p><b>Nom et prénom</b>: {{ user.lastname }} {{ user.firstname }}</p>
         <p><b>Email</b>: {{ user.email }}</p>
         <p><b>Ip</b>: {{ user.ip }}</p>
         <p><b>Date de création</b>: {{ user.createdAt|localizeddate('none', 'none', null, null, 'dd MMMM Y à HH:mm') }}</p>
         <p><b>Date de modification</b>:
            {{ user.updatedAt ? user.updatedAt|localizeddate('none', 'none', null, null, 'dd MMMM Y à HH:mm') : "null"  }}
         </p>
         <p><b>Date de dernière connexion</b>:
            {{ user.lastConnectedAt|localizeddate('none', 'none', null, null, 'dd MMMM Y à HH:mm') }}
         </p>
         <p><b>Compte confirmé</b>:
            {{ user.confirmationAccount ? "Oui" : "Non" }}
         </p>
         <p><b>Date de confirmation du compte</b>:
            {{ user.confirmationAccount ? user.confirmationAccountAt|localizeddate('none', 'none', null, null, 'dd MMMM Y à HH:mm') : "null" }}
         </p>
         <p><b>Date de la demande de résiliation du mot de passe</b>:
            {{ user.resetToken ? user.resetTokenCreatedAt|localizeddate('none', 'none', null, null, 'dd MMMM Y à HH:mm') : "null" }}
         </p>
         <p><b>Date de l'expiration de la résiliation du mot de passe</b>:
            {{ user.resetToken ? user.resetTokenExpiredAt|localizeddate('none', 'none', null, null, 'dd MMMM Y à HH:mm') : "null" }}
         </p>
         <p><b>Date de dernière résiliation du mot de passe</b>:
            {{ user.resetLastAt ? user.resetLastAt|localizeddate('none', 'none', null, null, 'dd MMMM Y à HH:mm') : "null" }}
         </p>
         <p><b>Compte supprimer</b>:
            {{ user.deleted ? "Oui" : "Nonn" }}
         </p>
         <p><b>Date de la suppression du compte</b>:
            {{ user.deletedAt ? user.deletedAt|localizeddate('none', 'none', null, null, 'dd MMMM Y à HH:mm') : "null" }}
         </p>
         <p><b>Compte supprimer définitivement</b>:
            {{ user.deletedDefinitely ? "Oui" : "Non" }}
         </p>
         <p><b>Date de la suppression définitif du compte</b>:
            {{ user.deletedDefinitely ? user.deletedDefinitelyAt|localizeddate('none', 'none', null, null, 'dd MMMM Y à HH:mm') : "null" }}
         </p>
         <p><b>Date de réouverture du compte supprimer</b>:
            {{ user.undeletedAt ? user.undeletedAt|localizeddate('none', 'none', null, null, 'dd MMMM Y à HH:mm') : "null" }}
         </p>
         <p><b>Nombre de tentative de connexion</b>: {{ user.connectionAttempt }}</p>
         <p><b>Fin du bannissement</b>:
            {{ user.connectionAttemptExpiredAt ? user.connectionAttemptExpiredAt|localizeddate('none', 'none', null, null, 'dd MMMM Y à HH:mm') : "null" }}
         </p>
         <p><b>Bannissement définitif</b>:
            {{ user.connectionAttemptDef ? "Oui" : "Non" }}
         </p>
      </div>
   </div>
{% endblock %}
