<p>Bonjour {{ user.lastname }} {{ user.firstname }}</p>
<p>Voici le lien de confirmation de votre compte : <a href="{{ confirmUrl }}">{{ confirmUrl }}</a></p>

<p>Si vous n'êtes pas à l'origine de la création du compte, merci de cliquer sur le lien ci-desssous pour supprimer le compte</p>
<a href="{{ deleteUrl }}">{{ deleteUrl }}</a>

<p>Cordialement,</p>
<p>Le Blog personnel de Nom Prenom</p>
