<p>Bonjour {{ user.lastname }} {{ user.firstname }}</p>
<p>Vous avez demandé un lien pour reset votre mot de passe, voici le lien
   : <a href="{{ url }}">{{ url }}</a></p>
<p>Le lien expirera le {{ user.resetTokenExpiredAt|localizeddate('none', 'none', null, null, 'd MMMM Y à H:m') }}</p>
&nbsp;
<hr>
<p>Si vous n'êtes pas à l'origine de la demande de reset de votre mot de passe mais que vous souhaitez modifier votre mot de passe au préalabre,
   cliquez sur le lien suivant : <a href="{{ url }}">{{ url }}</a></p>

<p>Cordialement,</p>
<p>Le Blog personnel de Hollebeque Fabien</p>
