<nav class="myNavDefault">
   <div class="navTitle">
      <a href="{{ path('default') }}">Blog</a>
   </div>
   <div id="navList" class="navList">
      <ul class="navLinks">
         <li><a href="{{ path('default') }}">Accueil</a></li>
         <li><a href="#">À propos</a></li>
         <li><a href="{{ path('article_index') }}">Blog</a></li>
         <li><a href="{{ path('contact') }}">Contact</a></li>
         {% if app.user %}
            <li><a href="{{ path('user_account') }}">Compte</a></li>
            <li class="dropdown">
               <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mon Compte</a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{ path('user_account') }}">Profil</a>
                  <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                  {% if is_granted('ROLE_ADMIN') %}
                     <hr class="dropdown-divider">
                     <a class="dropdown-item" href="{{ path('admin_default') }}">Administration</a>
                  {% endif %}
               </div>
            </li>
         {% else %}
            <li><a href="{{ path('app_login') }}">Connexion</a></li>
         {% endif %}
      </ul>
   </div>
   <div class="navTrigger">
      <i></i>
      <i></i>
      <i></i>
   </div>
</nav>

{% block javascripts %}
   {{ encore_entry_script_tags('navbarDefault') }}
{% endblock %}
