{% extends 'base.html.twig' %}

{% block title %}Tags{% endblock %}

{% block body %}
    <h1>Tags</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tag.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ tag.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_tags_article_index') }}">back to list</a>

    <a href="{{ path('admin_tags_article_edit', {'id': tag.id}) }}">edit</a>

    {{ include('admin/article/tags/_delete_form.html.twig') }}
{% endblock %}
