{% set nbComment = 0 %}
{% for comment in comments if not comment.deleted or is_granted('ROLE_ADMIN') %}
   <div class="comment-block{% if comment.deleted %} comment-bg-deleted{% endif %}">
      <div class="row">
         <div class="col-lg-2 col-md-3 col-12">
            <div class="comment-profil">
               <img src="
                  {% if comment.user.picture.filename %}
                     {{ vich_uploader_asset(comment.user.picture, 'pictureFile')|imagine_filter('comment') }}
                  {% else %}
                     {{ asset('pictures/user/default/noImageAvailable.jpg')|imagine_filter('comment') }}
                  {% endif %}
               " alt="Image de profil de {{ comment.user.lastname }} {{ comment.user.firstname }}"
               >
               <p>
                  <span class="comment-profil-fullname">{{ comment.user.lastname }}</span>
                  <span class="comment-profil-fullname">{{ comment.user.firstname }}</span>
               </p>
               {% if comment.user.roles == ['ROLE_ADMIN'] %}
                  <p class="grade-profil-admin">Administrateur</p>
               {% elseif comment.user.roles == ['ROLE_AUTHOR'] %}
                  <p class="grade-profil-author">Rédacteur</p>
               {% endif %}
            </div>
         </div>
         <div class="col-lg-10 col-md-9 col-12">
            <div class="comment-body">
               <div class="comment-content">
                  {% if comment.deleted %}
                     <p class="number-comment"><i class="fas fa-trash"></i></p>
                  {% else %}
                     {% set nbComment = nbComment + 1 %}
                     <p class="number-comment">#{{ nbComment }}</p>
                  {% endif %}
                  <p>{{ comment.content|raw }}</p>
               </div>
               <hr>
               <div class="comment-footer">
                  <p class="comment-footer-info">
                     {{ comment.user.lastname }} {{ comment.user.firstname }}, le
                     {{ comment.createdAt|localizeddate('none', 'none', null, null, 'dd MMMM Y à HH:mm') }}
                  </p>
                  {% if comment.updatedAt != null and is_granted('ROLE_ADMIN') %}
                     <i class="fas fa-pencil-alt" title="Modifier le {{ comment.updatedAt|localizeddate('none', 'none', null, null, 'dd MMMM Y à HH:mm') }}"></i>
                  {% endif %}
                  <div class="comment-footer-button">
                     {% if app.user and app.user.email == comment.user.email or is_granted('ROLE_ADMIN') %}
                        {% if comment.deleted and is_granted('ROLE_ADMIN') %}
                           {{ include('article/comment/_undelete_form.html.twig') }}
                           {{ include('article/comment/_deleteDefinitely_form.html.twig') }}
                        {% else %}
                        <a
                           class="btn btn-info me-1"
                           href="{{ path('article_edit_comment', {'slug' : article.slug, 'id' : comment.id}) }}"
                           id="editComment"
                           data-entity-id="{{ comment.id }}"
                           data-csrf-token="{{ csrf_token('comment' ~ comment.id) }}"
                        >
                           <i class="fas fa-pencil-alt"></i>
                        </a>
                        {{ include('article/comment/_delete_form.html.twig') }}
                        {% endif %}
                     {% endif %}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="mod">

   </div>
{% endfor %}

{% block javascripts %}
   {{ encore_entry_script_tags('editComment') }}
{% endblock %}
