<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Blog Personnel{% endblock %}</title>

        {# CSS #}
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}

        {# JS #}
        {{ encore_entry_script_tags('app') }}
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-a11y="true"></script>
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% set routes =
            ['default', 'app_login', 'app_register', 'forgot_password', 'reset_forgot_password']
        %}
        {% set countRoute = 0 %}
        {% for route in routes %}
           {% if app.request.get('_route') == route %}
              {{ include('layouts/navbarDefault.html.twig') }}
           {% else %}
              {% set countRoute = countRoute + 1 %}
              {% if countRoute == 5 %}
                  <div class="wrapper">
                      {{ include('layouts/navbar.html.twig') }}
                  </div>
              {% endif %}
           {% endif %}
        {% endfor %}

        {% block body %}{% endblock %}
        {{ include('layouts/footer.html.twig') }}
        {{ include('layouts/_flash.html.twig') }}
    </body>
</html>
